.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

@keyframes animate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.preLoader {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	border-right: 4px solid var(--dark);
	border-left: 4px solid var(--dark);
	position: relative;
	animation: animate 0.3s infinite alternate;
}
